.box-about-left {
  min-height: 600px;
  background-color: #ff5531; 
  z-index: 800;
}
.about-left-quote {
  float: right; 
  opacity: 0.5;
  font-size: 96px;
  font-weight: bold;
  margin-top: 68px;
  padding-right: 15px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.69px;
  color: #ffffff;
}
.about-left-in {
  float: right; 
  padding-top: 100px;
  padding-right: 10%;
}
.about-left-in > p {
  font-size: 60px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.43px;
  color: #ffffff;
}

.box-about-right {
  height: 600px;
  padding-top: 150px;
  padding-left: 5%;
}

.box-about-middle {
  margin-top: -70px;
  z-index: 750;
}

.box-about-middle2 {
  margin-top: -125px;
  z-index: 800;
}
.about-middle-text {
  padding-left: 7%;
  padding-right: 7%;
}