.box-login {
  border: solid 1px #e1e1e1;
  /* border-top: solid 1px #454545; */
  padding: 72px;
}

.box-signup {
  border: solid 1px #e1e1e1;
  padding: 72px;
}

.placeholder-right {
  float: right;
  margin-top: -34px;
  padding-right: 10px;
}

.box-findpassword {
  border: solid 1px #e1e1e1;
  padding: 50px 72px;
}