.box-buy-left {
  background-color: #f7f7f7;
  box-shadow: 1px 0 0 0 #e1e1e1;
  min-height: 100%;
  height: 1000px;
  position: relative;
  /* padding: 60px 30px 0 30px; */
  padding: 60px 20px 0 20px;
}

.box-buy-padding {
  padding: 10px;
}

.box-buy-right {
  /* min-height: 1200px; */
  min-height: 450px;
}

.img-buy-left {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 80px;
}

.box-cancle {
  /* position: absolute; */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
}

.box-buy-hr {
  border-bottom: 1px solid #e1e1e1;
  text-align: center;
}

.buy-tab {
  height: 54px;
  width: 100px;
  color: #767676;
  font-size: 14px;
  border-radius: 0;
  border: 3px;
}

.buy-tab-active,
.buy-tab-active:hover,
.buy-tab-active:focus {
  color: #ff5531;
  font-weight: 700;
  border-bottom: 3px solid #ff5531;
}

.box-buy-border {
  border: 1px #454545 solid;
  margin-top: 60px;
}

.buy-inline {
  display: inline-block;
  width: 100%;
  height: 55px;
}

.border-buy {
  border-bottom: solid 1px #e1e1e1;
}

.btn-inline {
  font-size: 13px;
  color: #1d1d1d;
  height: 55px;
  font-weight: 700;
  width: 100px;
}

.btn-inline2 {
  /* color: #bbbbbb; */
  /* height: 55px; */
  background-color: #fff;
  font-size: 14px;
  color: #454545;
  font-weight: normal;
  text-align: left;
  display: inline-block;
  padding: 3px 8px;
  margin-right: 30px;
  border-radius: 0;
}

.btn-inline2-active,
.btn-inline2-active:focus,
.btn-inline2-active:hover {
  color: #fff;
  background-color: #ff8e20;
}

.img-buy-data {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 80px;
}

.img-buy-box {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 240px;
  width: 100%;
}

.buy-tags {
  min-height: 36px;
}

.box-tooltip {
  background-color: #3f9baf;
  font-size: 10px;
  font-family: 'Roboto', sans-serif !important;
  color: #fff;
  padding: 5px 10px;
}

.p-tooltip {
  color: #767676;
  font-size: 13px;
  margin-left: 10px;
  line-height: 1.8;
}

.p-tooltip-mobile {
  color: #767676;
  font-size: 13px;
  line-height: 1.8;
}

.img-buy-detail {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  min-height: 400px;
  min-height: 40vh;
  width: 100%;
}

.buy-detail-gray {
  padding: 20px;
  background-color: #f7f7f7;
}

.buy-modal-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
}

.box-modal-bottom {
  margin: 0 auto;
  width: 150px;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 60px;
}

.box-arrow-black {
  width: 50px;
  height: 50px;
  opacity: 0.9;
  border: 0;
  background-color: #1d1d1d;
  display: inline-block;
  outline: 0 !important;
}

.box-arrow-orange {
  width: 50px;
  height: 50px;
  border: 0;
  opacity: 0.9;
  background-color: #ff5531;
  display: inline-block;
  outline: 0 !important;
}

.buy-step {
  margin-top: 60px;
  margin-bottom: 75px;
  text-align: center;
}

.box-step {
  width: 36px;
  height: 36px;
  border: solid 1px #dbdbdb;
  background-color: #ffffff;
  border-radius: 18px;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700;
  font-size: 18px;
  color: #dbdbdb;
  text-align: center;
  padding-top: 3px;
  display: inline-block;
}

.box-step-active {
  border: solid 1px #ff8e20;
  color: #ff8e20;
}

.line-buy-step {
  height: 5px;
  border-top: solid 1px #dbdbdb;
  display: inline-block;
  width: 30%;
}

.line-ask-step {
  height: 5px;
  border-top: solid 1px #dbdbdb;
  display: inline-block;
  width: 12%;
}

.step-p {
  display: block;
  position: absolute;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: #ff8e20;
  margin-top: 12px;
  margin-left: -18px;
}

.step-p2 {
  display: block;
  position: absolute;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: #ff8e20;
  margin-top: 12px;
  margin-left: -14px;
}

.step-p3 {
  display: block;
  position: absolute;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: #ff8e20;
  margin-top: 12px;
  margin-left: -5px;
}

.step-p4 {
  display: block;
  position: absolute;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: #ff8e20;
  margin-top: 12px;
  margin-left: -9px;
}

.step-p5 {
  display: block;
  position: absolute;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: #ff8e20;
  margin-top: 12px;
  margin-left: 0px;
}


.box-card {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 30px;
  min-height: 324px;
  background-color: #f7f7f7;
}

.box-card-in {
  height: 264px;
  border-radius: 12px;
  border: solid 1px #e1e1e1;
  background-color: #ffffff;
  text-align: center;
  padding-top: 96px;
}

.box-card-info {
  height: 264px;
  border-radius: 12px;
  border: solid 1px #e1e1e1;
  background-color: #ffffff;
  text-align: center;
}

.box-address {
  color: #454545;
  font-size: 14px;
  border-bottom: 1px solid #e1e1e1;
  padding: 20px 0;
}

.box-pay-info {
  background-color: #f7f7f7;
  padding: 30px;
  margin-top: 13px;
}

.box-shipping-add {
  height: 240px;
  background-color: #f7f7f7;
  text-align: center;
}

.buydetail-carousel {
  height: 240px;
  background-color: #f7f7f7 !important;
}

.buydetail-carousel>img {
  object-fit: cover;
  object-position: 50% 50%;
  height: 240px;
}

.sneaker-detail-carousel,
.axis-vertical {
  display: initial !important;
}

.sneaker-detail-carousel .control-dots {
  display: none !important;
}

.carousel .thumb {
  border-left: 0 !important;
  ;
  border-right: 0 !important;
  border-bottom: 0 !important;
  width: 90px !important;
  height: 68px;
  border-top: 2px solid #e1e1e1 !important;
  margin-right: 0 !important;
}

.carousel .thumb.selected,
.carousel .thumb:hover {
  border-top: 2px solid #ff5531 !important;
}

/* .control-dots {
  display: none;
} */