/* faq */

.border-bottom-2 {
  border-bottom: 1px solid #e1e1e1;
}

.box-faq-info {
  border-bottom: solid 1px #e1e1e1;
  width: 100%;
  background-color: #f7f7f7;
  padding: 67px 0;
  text-align: center;
}

.btn-faq {
  color: #767676;
  width: 120px;
  text-align: center;
  padding: 16px 0;
  font-size: 14px;
  display: inline-block;
  /* margin-left: 30px;
  margin-right: 30px; */
}

.btn-faq-active {
  border-bottom: 3px solid #fd5e2c;
  padding: 16px 0;
  color: #fd5e2c;
  font-weight: 700;
  margin-top: -1px !important;
}

.box-faq-left {
  margin: 0 auto;
  padding: 16px 16px;
  font-size: 14px;
  color: #1d1d1d;
  text-align: left;
}

.box-faq-left-active {
  color: #454545;
  background-color: #f1f1ee;
  color: #1d1d1d;
  font-weight: 700;
}

.box-faq-left-bottom {
  width: 200px;
  margin: 0 auto;
  border-top: solid 1px #e1e1e1;
}

.border-top {
  border-top: solid #000 1px !important;
}

.box-faq-title {
  border-bottom: solid 1px #e1e1e1;
  padding: 19px 0;
}

.no-border {
  border: 0px;
}

.box-faq-body {
  padding: 21px 0;
  font-size: 14px;
  width: 100%;
  text-align: left;
  border-bottom: solid 1px #e1e1e1;
  color: #454545;
}

.box-faq-body-left {
  width: 30px;
}

/* faq question */

.box-select {
  /* color: #999999; */
  border: solid 1px #404040;
  font-size: 16px;
  padding: 5px 10px;
  text-align: left;
}

.box-select-open {
  border: solid 1px #404040;
  border-top: 0px;
  background-color: #fff;
}

.box-select-open-in {
  font-size: 16px;
  padding: 5px 10px;
  text-align: left;
}

.box-file {
  height: 40px;
  padding: 10px 15px;
  background-color: #ecebe7;
}

.box-file:hover {
  background-color: #c0bfbf;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.box-file-list {
  height: 40px;
  padding: 0 15px;
  border: solid 1px #fd5e2c
}

.box-agree {
  border: solid 1px #bbbbbb;
  text-align: left;
  padding: 10px 15px;;
}

.select-valid {
  border: solid 1px #454545 !important;
}

.box-kakao {
  border: solid 2px #f5f5f5 !important;
  padding: 25px 0;
  margin-top: 30px;
}
.box-kakao p {
  color: #888888;
  font-size: 15px;
}
.btn-kakao {
  background-color: #fae403;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 150px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}
.btn-kakao img {
  height: auto;
  width: 35px;
  margin-right: 5px;
  margin-top: -3px;
}
.btn-kakao p {
  display: inline-block;
  color: #391c1c;
  font-size: 14px;
  font-weight: bold;
  margin-top: 15px;
}