.img-game-back {
  min-height: 361px;
  height: 361px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  /* background: linear-gradient(to right, rgb(144, 43, 97), rgb(41, 18, 102)); */
  margin-top: 30px;
  line-height: 1.2;
}

.box-game-in {
  width: 50%;
  height: 100%;
  padding: 60px 70px;
}

.box-game-add {
  width: 48px;
  height: 48px;  
  text-align: center;
}
.game-plus {
  font-size: 32px;
  color: #fff;
  float: left;
  margin-left: 16px;
  margin-top: 4px;
}

.box-game-add:hover, .box-game-add:focus {
  width: 146px;
}
.box-game-add > p {
  display: none;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
}
.box-game-add:hover > p, .box-game-add:focus > p {
  display: inline-block;
  margin-top: 14px;
}

.game-orange {
  background-color: #ff8e20;
}

.game-black {
  background-color: #1d1d1d;
}