.box-detail-first {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
}

.box-detail-first-in {
  height: 522px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.detail-left-inline {
  width: 60px;
  height: 25px;
  display: inline-block;
}
.detail-right-inline {
  width: 100px;
  height: 25px;
  display: inline-block;
}

.box-noti {
  height: 755px;
  width: 100%;
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.box-noti-in {
  height: 555px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.box-noti-left {
  padding-top: 80px !important;
  padding-left: 80px !important;
  padding-right: 80px !important;
  background-color: #fff;
}

.box-game-alsolike {
  height: 582px;
  padding-top: 80px;
  margin-top: 0;
  background-color: #f7f7f7;
}

.box-game-enter {
  width: 350px;
  height: 141px;
  padding: 20px;
  background-color: #fff;
  border: solid 1px #454545;
  position: absolute;
  bottom: 0;
}

.box-game-tooltip {
  width: 350px;
  height: 141px;
  padding: 20px;
  margin-top: 63px;
  margin-left: -50px;
  background-color: #fff;
  border: solid 1px #454545;
}