/* global */

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://nodot-web-font.s3.ap-northeast-2.amazonaws.com/nexon-lv1-gothic/NEXON+Lv1+Gothic+OTF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://nodot-web-font.s3.ap-northeast-2.amazonaws.com/nexon-lv1-gothic/NEXON+Lv1+Gothic+OTF+Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'NEXON Lv1 Gothic OTF';
  padding-top: 80px;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  color: initial;
}

.link {
  /* color: #007bff; */
  color: inherit !important;
  text-decoration: none;
  background-color: transparent;
  text-decoration: underline;
}

.d-none {
  display: none !important;
}

p {
  margin-bottom: 0px;
  letter-spacing: 0px;
}

.cursor {
  cursor: pointer !important;
}

.nexon-lv1 {
  font-family: 'NEXON Lv1 Gothic OTF', sans-serif !important;
}

.noto {
  font-family: 'Noto Sans KR', sans-serif !important;
}

.p-11 {
  font-size: 11px !important;
}

.p-12 {
  font-size: 12px !important;
}

.p-13 {
  font-size: 13px !important;
}

.p-14 {
  font-size: 14px !important;
}

.p-15 {
  font-size: 15px !important;
}

.p-16 {
  font-size: 16px !important;
}

.p-17 {
  font-size: 17px !important;
}

.p-18 {
  font-size: 18px !important;
}

.p-20 {
  font-size: 20px !important;
}

.p-22 {
  font-size: 22px !important;
}

.p-23 {
  font-size: 23px !important;
}

.p-24 {
  font-size: 24px !important;
}

.p-26 {
  font-size: 26px !important;
}

.p-28 {
  font-size: 28px !important;
}

.p-30 {
  font-size: 30px !important;
}

.p-32 {
  font-size: 32px !important;
}

.p-36 {
  font-size: 36px !important;
}

.p-40 {
  font-size: 40px !important;
}

.p-42 {
  font-size: 42px !important;
}

.o-60 {
  opacity: .6 !important;
}

.o-70 {
  opacity: .7 !important;
}

.line-25 {
  line-height: 25px;
  ;
}

.line-29 {
  line-height: 29px;
  ;
}

.line-31 {
  line-height: 29px;
  ;
}

.line-48 {
  line-height: 48px;
}

.line-1-2 {
  line-height: 1.2;
}

.letter-space-0 {
  letter-spacing: 0px;
}

.letter-space-2 {
  letter-spacing: 2px !important;
}

.letter-space-3 {
  letter-spacing: 3px !important;
}

.letter-space-4 {
  letter-spacing: 4px !important;
}

.letter-space-5 {
  letter-spacing: 5px;
}

.uppercase {
  text-transform: uppercase;
}

.bold {
  font-weight: 700 !important;
}

.normal {
  font-weight: 300 !important;
}

.medium {
  font-weight: 600 !important;
}


.underline {
  text-decoration: underline;
}

.underline:hover,
.underline:focus {
  text-decoration: underline;
}

/* color */

.red {
  color: #ff390f;
}

.gray {
  color: #dedede;
}

.gray-2 {
  color: #767676 !important;
}

.gray-3 {
  color: #454545;
}

.gray-4 {
  color: #bbbbbb !important;
}

.gray-5 {
  color: #999999;
}

.gray-6 {
  color: #454545;
  opacity: 0.7;
}

.gray-7 {
  color: #e1e1e1;
}

.blue {
  color: #1514ff;
}

.blue-2 {
  color: #3f9baf;
}

.orange {
  color: #ff5531 !important;
}

.orange-2 {
  color: #fd5e2c;
}

.orange-3 {
  color: #ff8e20;
}

.white {
  color: #fff;
}

.black {
  color: #000;
}

.black-2 {
  color: #1d1d1d !important;
}

.bg-gray {
  background-color: #f7f7f7;
}

.bg-white {
  background-color: #fff;
}

.border-bottom {
  border-bottom: 1px solid #e1e1e1;
}

.img-thumbnail {
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.img-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.flex {
  display: flex !important;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.inline-flex {
  display: inline-flex;
}

.display-none {
  display: none !important;
}

.no-radius {
  border-radius: 0 !important;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative !important;
}

.margin-left-auto {
  margin-left: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.right-0 {
  right: 0;
}

.w-66 {
  width: 66px !important;
}

.w-90 {
  /* width: 90px !important; */
  width: 85px !important;
}

.w-120 {
  width: 120px !important;
}

.w-160 {
  width: 160px !important;
}

.w-220 {
  width: 220px !important;
}

.w-18p {
  width: 18.5% !important;
}

.w-20p {
  width: 20% !important;
}

.w-30p {
  width: 30% !important;
}

.h-240 {
  height: 240px;
}

.h-50p {
  height: 50px !important;
}

.m-auto {
  margin: 0 auto !important;
}

.mt-21 {
  margin-top: 21px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-180 {
  margin-top: 180px;
}

.mt-140 {
  margin-top: 140px;
}

.mt-6 {
  margin-top: 5rem;
}

.ml-m-1 {
  margin-left: -5px;
}

.mt-m-0 {
  margin-top: -3px;
}

.mt-m-1 {
  margin-top: -5px;
}

.mt-m-2 {
  margin-top: -12px;
}

.mt-m-3 {
  margin-top: -4px;
}

.mt-m-4 {
  margin-top: -1rem;
}

.mt-m-8 {
  margin-top: -8px;
}

.mr-p-1 {
  margin-right: 5%;
}

.mb-6 {
  margin-bottom: 5rem;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-100 {
  margin-bottom: 180px;
}

.mb-180 {
  margin-bottom: 180px;
}

.pt-90 {
  padding-top: 90px;
}

.pl-6 {
  padding-left: 6rem;
}

.pt-5-5 {
  padding-top: 5.5rem !important;
}

.pb-5-5 {
  padding-bottom: 5.5rem !important;
}

.pt-6 {
  padding-top: 6rem !important;
}

.pb-6 {
  padding-bottom: 6rem !important;
}

.pt-7 {
  padding-top: 7rem !important;
}

.pb-7 {
  padding-bottom: 7rem !important;
}


.col-10p {
  flex: 0 0 10%;
  max-width: 10%;
}

.col-12p {
  flex: 0 0 12%;
  max-width: 12%;
}

/* hr */

.hr2 {
  border-top: 1px solid #1d1d1d;
}

.hr3 {
  border-top: 1px solid #454545;
}

.hr3 {
  border-top: 1px solid #bbbbbb;
}

.hr4 {
  border-top: 1px solid #e1e1e1;
}

.hr5 {
  border-top: 1px solid rgba(225, 225, 225, 0.2);
}

/* gobal button */

.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none;
}

.btn-custom {
  border: solid 1px #dbdbdb;
  background-color: #fff;
  border-radius: 0;
  color: #454545;
  font-size: 16px;
  font-weight: 700;
  padding: 0 16px;
  width: 180px;
  height: 60px;
  outline: none !important;
}

.btn-custom:focus,
.btn-custom:hover {
  border: solid 1px #454545;
}

.btn-second {
  border: solid 1px #424249;
  background-color: #424249;
  border-radius: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 0 16px;
  width: 180px;
  height: 60px;
  outline: none !important;
}

.btn-second:focus,
.btn-second:hover {
  color: #fff;
  border: solid 1px #1d1d1d;
  background-color: #1d1d1d;
}

.btn-second-sm {
  border: solid 1px #424249;
  background-color: #424249;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  /* width: 120px; */
  height: 36px;
  outline: none !important;
}

.btn-second-sm:focus,
.btn-second-sm:hover {
  color: #fff;
  border: solid 1px #1d1d1d;
  background-color: #1d1d1d;
}

.btn-second-xs {
  border: solid 1px #424249;
  background-color: #424249;
  border-radius: 0;
  color: #fff;
  font-size: 13px;
  /* width: 47px; */
  height: 28px;
  outline: none !important;
}

.btn-second-xs:focus,
.btn-second-xs:hover {
  color: #fff;
  border: solid 1px #1d1d1d;
  background-color: #1d1d1d;
}

.btn-custom-disable,
.btn-custom-disable:focus,
.btn-custom-disable:active {
  border: solid 1px #f1f1ee;
  background-color: #f1f1ee;
  border-radius: 0;
  color: #bbbbbb;
  font-size: 16px;
  font-weight: 700;
  padding: 18px 16px;
  width: 100%;
  width: 180px;
  outline: none !important;
}

.btn-custom-sm {
  color: #454545;
  font-size: 14px;
  width: 120px;
  height: 36px;
  border-radius: 0;
  border: solid 1px #dbdbdb;
  background-color: #fff;
  outline: 0;
}

.btn-custom-sm:focus,
.btn-custom-sm:hover {
  border: solid 1px #454545;
  outline: 0;
}

.btn-custom-xs {
  color: #454545;
  font-size: 13px;
  /* width: 47px; */
  height: 28px;
  border-radius: 0;
  border: solid 1px #dbdbdb;
  background-color: #fff;
  outline: 0;
}

.btn-custom-xs:focus,
.btn-custom-xs:hover {
  border: solid 1px #454545;
  outline: 0;
}

.btn-custom-sm-disable {
  border: solid 1px #f1f1ee !important;
  background-color: #f1f1ee !important;
  border-radius: 0;
  color: #bbbbbb;
  font-size: 14px;
  width: 120px;
  height: 36px;
  border-radius: 0;
  border: solid 1px #dbdbdb;
  background-color: #fff;
  outline: none !important;
}

.btn-custom-sm-disable:focus,
.btn-custom-sm-disable:hover {
  border: solid 1px #454545;
}

.btn-custom-active {
  border: solid 1px #ff5531;
  background-color: #ff5531;
  border-radius: 0;
  color: #fff;
  font-size: 16px;
  /* font-weight: 700; */
  padding: 0 16px;
  height: 60px;
  width: 180px;
  width: 100%;
  width: 180px;
  outline: none !important;
}

.btn-custom-active:focus,
.btn-custom-active:hover {
  border: solid 1px #ff390f;
  background-color: #ff390f;
  color: #fff;
}

.btn-custom-sm-active {
  border: solid 1px #ff5531;
  background-color: #ff5531;
  border-radius: 0;
  color: #fff;
  font-size: 14px;
  width: 120px;
  height: 36px;
  outline: none !important;
}

.btn-custom-sm-active:focus,
.btn-custom-active:hover {
  border: solid 1px #ff390f;
  background-color: #ff390f;
  color: #fff;
}

.btn-active-sm-border {
  border: solid 1px #ff5531;
  border-radius: 0;
  color: #ff5531;
  font-size: 14px;
  width: 120px;
  height: 36px;
  outline: none !important;
}

.btn-active-sm-border:focus,
.btn-active-sm-border:hover {
  border: solid 1px #ff5531;
  color: #ff5531;
}

.btn-filtered,
.btn-filtered:hover,
.btn-filtered:focus {
  font-size: 14px;
  color: #fff;
  padding: 2px 13px;
  height: 27px;
  border-radius: 15px;
  background-color: #ff8e20;
  margin-right: 5px;
  margin-bottom: 5px;
}

.btn-filter {
  color: #1d1d1d;
  font-size: 14px;
  width: 57px;
  height: 36px;
  border: solid 1px #e1e1e1;
  background-color: #fff;
  border-radius: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  outline: none !important;
}

.btn-filter:hover,
.btn-filter:focus {
  color: #454545;
  border: solid 1px #454545;
  /* transition: border 1s ease;
  -webkit-transition: border 1s ease;
  -moz-transition: border 1s ease;
  -o-transition: border 1s ease; */
}

.btn-filter-disable,
.btn-filter-disable:hover,
.btn-filter-disable:focus {
  color: #bbbbbb;
  border: solid 1px #dbdbdb;
  background-color: #f7f7f7;
}

.btn-filter-active,
.btn-filter-active:hover,
.btn-filter-active:focus {
  border: solid 1px #ff5531;
  color: #ff5531;
}

.btn-brand {
  color: #1d1d1d;
  font-size: 14px;
  width: 243px;
  height: 36px;
  border: solid 1px #e1e1e1;
  background-color: #fff;
  border-radius: 0px;
  text-align: left;
  padding-left: 18px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.btn-brand:hover,
.btn-brand:focus {
  color: #454545;
  border: solid 1px #454545;
}

.btn-brand-active,
.btn-brand-active:hover,
.btn-brand-active:focus {
  border: solid 1px #ff5531;
  color: #ff5531;
}

.btn-other {
  color: #767676;
  font-size: 14px;
  width: 243px;
  height: 30px;
  background-color: #fff;
  border-radius: 0px;
  text-align: left;
  padding-left: 18px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.btn-other:hover,
.btn-other:focus {
  color: #454545;
}

.btn-other-active,
.btn-other-active:hover,
.btn-other-active:focus {
  color: #ff5531;
  text-decoration: underline;
}

.btn-active-sm {
  width: 61px;
  height: 21px;
  background-color: #ff8e20;
  font-size: 10px;
  color: #fff;
  text-align: center;
  padding-top: 2px;
  outline: 0;
}

.btn-shipping,
.btn-shipping:focus,
.btn-shipping:hover {
  /* width: 106px; */
  height: 28px;
  border: solid 1px #dbdbdb;
  background-color: #ffffff;
  color: #454545;
  font-size: 13px;
  outline: 0 !important;
}

.btn-border {
  color: #fff;
  font-size: 14px;
  width: 120px;
  height: 36px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0);
}

/* box */

.box-plus {
  width: 48px;
  height: 48px;
  text-align: center;
  cursor: pointer;
}

.box-plus-black {
  background-color: #1d1d1d;
}

.box-plus-black:hover {
  background-color: #ff5531;
}

.box-plus-orange {
  background-color: #ff8e20;
}

.box-plus-icon {
  padding-top: 10px;
  color: #fff;
  float: left;
  margin-left: 16px;
}

/* .box-plus-icon:hover, .box-plus-icon:focus {
  float: right !important;
  margin-right: 16px;
  transition-delay: 0.3s;
} */

.box-plus:hover,
.box-plus:focus {
  width: 146px;
  transition: width 0.3s ease;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
}

.box-plus>p {
  font-weight: 700;
  color: #fff;
  margin-top: 12px !important;
  /* display: none; */
  font-size: 0;
}

.box-plus:hover>p,
.box-plus:focus>p {
  margin-top: 14px;
  display: inline-block;
  font-size: 16px;
  transition-delay: 0.3s;
  /* transition-property: font-size;
  transition-duration: 0.3s; */
  /* transition: font-size 0.3s ease;
  -webkit-transition: font-size 0.3s ease;
  -moz-transition: font-size 0.3s ease;
  -o-transition: font-size 0.3s ease; */
}

.btn-black,
.btn-black:focus,
.btn-black:hover {
  padding: 3px 8px;
  background-color: #1d1d1d;
  color: #fff;
  font-size: 10px;
  border-radius: 0;
}

.btn-sky,
.btn-sky:focus,
.btn-sky:hover {
  padding: 3px 8px;
  background-color: #3f9baf;
  color: #fff;
  font-size: 10px;
  border-radius: 0;
}

.btn-sm {
  width: 120px;
  height: 36px;
  font-size: 14px;
  font-weight: 400;
}

.btn-xs {
  width: 90px;
  height: 28px;
  font-size: 13px;
  font-weight: normal;
}

.btn-square {
  width: 60px;
  height: 60px;
  text-align: center;
  /* padding-top: 15px; */
  border: solid 1px #dbdbdb;
  background-color: #ffffff;
  cursor: pointer;
  outline: 0;
}

.btn-square:active,
.btn-square:focus {
  outline: none !important;
  box-shadow: none;
}

/* icon */

.icon-close {
  width: 8px;
  height: auto;
}

.img-question {
  position: absolute;
  margin-left: 5px;
  margin-top: 1px;
}

/* global form */

.form-control {
  height: 48px;
  width: 100%;
}

.form-custom {
  color: #454545;
  font-size: 14px;
  height: 48px;
  border: solid 1px #bbbbbb;
  border-radius: 0;
  color: #454545;
  font-size: 14px;
}

.form-custom:not([value=""]):not(:focus) {
  border: solid 1px #454545;
}

.form-custom::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bbbbbb;
  font-size: 14px;
}

.form-custom::-moz-placeholder {
  /* Firefox 19+ */
  color: #bbbbbb;
  font-size: 14px;
}

.form-custom:-ms-input-placeholder {
  /* IE 10+ */
  color: #bbbbbb;
  font-size: 14px;
}

.form-custom:-moz-placeholder {
  /* Firefox 18- */
  color: #bbbbbb;
  font-size: 14px;
}

.form-custom:focus,
.textarea-custom:focus,
.form-select:focus {
  color: #454545;
  font-size: 14px;
  background-color: #fff;
  border: solid 0px #454545;
  outline: 0;
  box-shadow: 0 0 0 2px #454545;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #fff;
}

.textarea-custom {
  border-radius: 0;
  color: #454545;
  font-size: 14px;
  border: solid 1px #454545;
  border-radius: 0;
  padding: 11px;
}

.textarea-custom:invalid {
  border-radius: 0;
  color: #454545;
  font-size: 14px;
  border: solid 1px #bbbbbb;
  border-radius: 0;
  padding: 11px;
}

.textarea-custom::-moz-submit-invalid {
  border-radius: 0;
  color: #454545;
  font-size: 14px;
  border: solid 1px #bbbbbb;
  border-radius: 0;
  padding: 11px;
}

.textarea-custom::-moz-ui-invalid {
  border-radius: 0;
  color: #454545;
  font-size: 14px;
  border: solid 1px #bbbbbb;
  border-radius: 0;
  padding: 11px;
}

.textarea-custom::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bbbbbb;
  font-size: 14px;
}

.textarea-custom::-moz-placeholder {
  /* Firefox 19+ */
  color: #bbbbbb;
  font-size: 14px;
}

.textarea-custom:-ms-input-placeholder {
  /* IE 10+ */
  color: #bbbbbb;
  font-size: 14px;
}

.textarea-custom:-moz-placeholder {
  /* Firefox 18- */
  color: #bbbbbb;
  font-size: 14px;
}

.textarea-custom:not([value=""]):not(:focus) {
  border: solid 1px #bbbbbb;
}

textarea {
  resize: none;
}

.form-warning {
  border: #ff390f 1px solid !important;
  border-radius: 0 !important;
}

.form-warning:focus {
  border-color: #ff390f !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.1rem #ff390f !important;
  /* box-shadow: 0 0 0 0.01rem #ff390f !important; */
}

.form-disable {
  border: solid 1px #bbbbbb;
  background-color: #f7f7f7;
  font-size: 14px;
  color: #bbbbbb;
  height: 48px;
  padding-left: 10px;
  padding-top: 12px;
}

.form-wrong {
  border: 1px solid #ff8d7c !important;
  border-radius: 0 !important;
  height: calc(1.5em + .75rem + 4px) !important;
}

.form-wrong:focus {
  color: #495057 !important;
  ;
  background-color: #fff;
  border-color: #ff8d7c !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.1rem #ff8d7c !important;
}

.form-select {
  height: 48px;
  /* border: solid 1px #bbbbbb; */
  border: solid 1px #454545;
  color: #454545;
  border-radius: 0;
  font-size: 14px;
}

.form-price,
.form-price:focus {
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
  border-bottom: 1px solid #000;
  outline: 0;
  box-shadow: 0 0 0 0 #fff;
  padding-right: 50px;
}

.form-price:focus {
  border-bottom: 2px solid #000;
}

.form-price::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #bbbbbb;
  font-size: 14px;
}

.form-price::-moz-placeholder {
  /* Firefox 19+ */
  color: #bbbbbb;
  font-size: 14px;
}

.form-price:-ms-input-placeholder {
  /* IE 10+ */
  color: #bbbbbb;
  font-size: 14px;
}

.form-price:-moz-placeholder {
  /* Firefox 18- */
  color: #bbbbbb;
  font-size: 14px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

select {
  -webkit-appearance: none !important;
}

.placeholder-right {
  float: right;
  margin-top: -34px;
  padding-right: 10px;
}

/* nav */

.navbar {
  border-bottom: solid 0px #efefef;
  padding: 0px 0px;
  /* -webkit-transform:translateZ(1px);
  -moz-transform:translateZ(1px);
  -o-transform:translateZ(1px);
  transform:translateZ(1px);
  -webkit-transform: translateZ(x) */
}

.navbar-brand {
  font-size: 28px;
  font-weight: 700;
  text-decoration: none;
  letter-spacing: 1px;
  margin-left: 30px;
}

.navbar-brand>img {
  height: 45px;
}

.brand-span {
  font-size: 1.2rem;
  font-weight: 300;
}

.navbar-dark {
  background-color: #000;
  height: 80px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-family: 'nexon-lv1', sans-serif;
  text-transform: uppercase;
  /* padding: 30px 0; */
}

.nav-link {
  color: #fff !important;
}

.nav-link:hover,
.nav-link:focus {
  color: #fff !important;
  border-bottom: solid 1px #fff;
  padding-bottom: 5px !important;
}

.nav-item {
  margin: 0 25px;
}

.nav-active>a {
  border-bottom: solid 1px #fff;
  padding-bottom: 5px !important;
}

.navbar-toggler {
  border: 0;
}

.nav-border {
  border-top: 1px solid #efefef;
}

.nav-link {
  text-decoration: none;
}

.nav-right-box {
  /* margin-right: -30px; */
  height: 100%;
}

.nav-right {
  background-color: #ff5530;
  color: #FFF;
  height: 80px;
  padding: 25px 35px;
  width: 93px;
  display: inline-block;
}

.border-right-white {
  border-right: solid 1px rgba(255, 255, 255, 0.25);
}

.border-left-white {
  border-left: solid 1px #fff;
  /* border-left: solid 1px rgba(255, 255, 255, 0.5); */
}

.border-right-gray {
  border-right: solid 1px #e1e1e1;
}

.bg-dark {
  background: linear-gradient(to right, #10242b, #120303);
}

/* tooltip */

.tooltip-custom {
  border: 1px solid #000 !important;
  background-color: #fff !important;
  opacity: 1 !important;
  border-radius: 0 !important;
  z-index: 10000;
}

/* global  */
.box-userverify {
  margin: 200px 0;
}

.box-info {
  border-bottom: solid 1px #e1e1e1;
  width: 100%;
  background-color: #f7f7f7;
  padding: 74px 0;
  text-align: center;
}

/* modal  */

.modal-fullscreen {
  display: block;
  position: fixed;
  z-index: 5000 !important;
  left: 0;
  top: 48px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
}

/* with prev btn */

.modal-fullscreen-mobile {
  display: block;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
}

.modal-custom {
  /* margin-top: 8%; */
  background-color: rgba(29, 29, 29, 0.5);
  padding-top: 8%;
  padding-bottom: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.modal-content-small {
  margin: 0 auto;
  /* border: 1px solid #8B8B8B; */
  /* height: 100%; */
  background-color: #fff;
  width: 377px;
  overflow: scroll;
  overflow-x: hidden;
}

.modal-custom-scroll {
  /* margin-top: 8%; */
  /* background-color: rgba(29, 29, 29, 0.5); */
  background-color: #fff;
  padding-top: 8%;
  height: 100%;
  display: none;
  position: fixed;
  overflow-y: auto;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
}

.modal-custom-scroll2 {
  background-color: #fff;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  overflow-y: auto;
  z-index: 4000 !important;
  height: 100%;
  margin-top: 48px;
}

/* .modal-content-scroll {
  margin: 0 auto;
  background-color: #fff;
  width: 377px;
  height: 70%;
  overflow: scroll;
  overflow-x: hidden;
} */

.modal-content-small::-webkit-scrollbar,
.modal-content-scroll::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.modal-content-small::-webkit-scrollbar-thumb,
.modal-content-scroll::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.modal-custom-large {
  margin-top: 80px;
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modal-content-large {
  margin: 0 auto;
  background-color: #000;
  width: 100%;
  height: 100%;
  height: 100vh;
  overflow: scroll;
  overflow-x: hidden;
}

.modal-content-large::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.modal-content-large::-webkit-scrollbar-thumb {
  /* background: #FF0000; */
}

.modal-billing {
  min-height: 800px;
}

.modal-selldetail {
  width: 75%;
  margin: 0 auto;
  background-color: #fff;
  height: 75%;
  height: 75vh;
  overflow: scroll;
  overflow-x: hidden;
}

.modal-selldetail::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

.modal-overflow {
  overflow: auto !important;
}

.z-1000 {
  z-index: 1000;
}

.z-5000 {
  z-index: 5000 !important;
}

.z-6000 {
  z-index: 6000 !important;
}

.carousel>.carousel-status,
.control-arrow {
  display: none !important;
}

.box-buy-carousel .axis-vertical {
  display: none !important;
}

.control-dots {
  position: initial !important;
}

.control-dots>.dot {
  width: 10px !important;
  height: 10px !important;
  background-color: #ded9d4 !important;
  margin: 5px !important;
  border-radius: 0 !important;
  box-shadow: initial !important;
}

.control-dots>.selected {
  background-color: #ff5531 !important;
}

/* footer */

.footer {
  height: 270px;
  background-color: #fff;
  position: relative;
  border-top: solid 1px #e1e1e1;
}

.footer-a {
  font-size: 14px !important;
  color: #1d1d1d !important;
}

.footer-p,
.footer-p>a {
  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 0px !important;
  color: #767676;
  display: inline-block;
}

.footer-border {
  border-right: 1px solid #e1e1e1;
  display: inline-block;
  height: 10px;
  width: 1px;
  margin: 0 13px;
}

.footer-no-left {
  margin-left: 0 !important;
}

.footer-hide {
  border-top: solid 1px #e1e1e1;
  height: 35px;
}

.footer p {
  letter-spacing: 0px !important;
}

.iframe {
  width: 100%;
  height: 100vh;
  border: 0px dashed #fff;
}

.pinch-to-zoom-container {
  height: 100%;
  height: 100vh;
}

.logo {
  max-width: 200px;
}