.scroll-box {
  margin-top: 70px;
  height: 500px;
  width: 500px;
  background-color: #f7f7f7;
  position: fixed;
}

.scroll-left {
  margin-top: 70px;
  height: 500px;
  padding-top: 60px;
  overflow: hidden;
  position: fixed;
 }

 .scroll-left > p {
  height: 100%;
  width: 200%;
  margin: 0;
  margin-left: -100%;
  text-align: center;
  font-size: 300px;
  font-weight: 700;
  color: #bbbbbb;
  opacity: 0.2;
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);	
  transform:translateX(100%);
  -moz-animation: scroll-left 30s linear infinite;
  -webkit-animation: scroll-left 30s linear infinite;
  animation: scroll-left 30s linear infinite;
 }

 @-moz-keyframes scroll-left {
  0%   { 
    -moz-transform: translateX(100%); 
  }
  100% { 
    -moz-transform: translateX(-100%); 
  }
 }
 @-webkit-keyframes scroll-left {
  0%   { 
    -webkit-transform: translateX(100%); 
  }
  100% { 
    -webkit-transform: translateX(-100%); 
  }
 }
 @keyframes scroll-left {
  0% { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 		
  }
  100% { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 
  }
 }
 
 .mainslide {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  margin-top: 150px;
  width: 100%;
  font-size: 100px;
  font-weight: 700;
  color: #bbbbbb;
  opacity: 0.2;
}
.mainslide span {
  display: inline-block;
  padding-left: 100%;
  animation: mainslide 20s linear infinite;
}
@keyframes mainslide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}


 .mainslide {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  margin-top: 150px;
  width: 100%;
  font-size: 100px;
  font-weight: 700;
  color: #bbbbbb;
  opacity: 0.2;
}

.mainslide span {
  display: inline-block;
  padding-left: 100%;
  animation: mainslide 20s linear infinite;
}

@keyframes mainslide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.container-main {
  /* height: 2000px; */
  padding-top: 80px;
}

.highlight-top {
  height: 500px;
  background-repeat: no-repeat;
  background-size: contain;
}


.highlight-middle {
  height: 450px;
  /* position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; */
  padding: 0;
}

.highlight-middle img {
  max-width: 100%;  
}

.highlight-bottom {
  height: 445px;
  /* position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; */
  padding: 0;
}

.highlight-bottom img {
  max-width: 100%;  
}

.main-popular {
  margin-top: 100px;
}

.box-popular {
  height: 250px;
  background-color: #f7f7f7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.box-carousel {
  position: relative;
  text-align: center;
}
.icon-carousel {
  width: 10px;
  height: 10px;
  background-color: #ded9d4;
  display: inline-block;
  margin: 5px;
}
.icon-carousel-active {
  background-color: #ff5531;
}

.box-main-game {
  width: calc(1140px + ((100% - 1140px) /2));
  margin-left: auto;
  padding-left: 15px;
  margin-top: 90px;
}
.main-game-in {
  height: 480px;
}
.main-game-left {
  width: 540px;
  padding-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
  height: 100%;
  background-color: #1d1d1d;
  float: left;
}
.main-game-right {
  background-color: #f7f7f7;
  width: calc(100% - 540px);
  height: 100%;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.box-main-release {
  margin-top: 100px;
  padding-top: 80px;
  height: 635px;
  background-color: #f7f7f7;
}
.main-release-in {
  height: 182px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}