@media screen and (max-width: 991px) {
  .hidden-m {
    display: none !important;
  }

  body {
    padding-top: 50px;
  }

  .modal-search {
    margin-top: 48px;
    z-index: 11000;
  }

  .absolute-m {
    position: absolute !important;
  }

  /* navbar */
  .navbar {
    height: 50px;
    margin-top: -2px !important;
  }

  .navbar-brand>img {
    height: 35px;
    margin-top: -5px;
  }

  .navbar-brand {
    padding: 0 0;
    margin-left: 10px;
  }

  .navbar-title {
    padding: 0 0;
    margin-left: 20px;
    /* color: #1d1d1d !important; */
    font-size: 16px;
  }

  .navbar-prev {
    height: 20px !important;
    margin-top: -5px;
    margin-right: 20px !important;
  }

  .nav-right-box {
    margin-right: -1px;
  }

  .nav-right {
    height: 50px;
    padding: 10px 16px;
    width: 50px;
  }

  .border-left-white {
    border-left: solid 1px rgba(255, 255, 255, 0.5);
  }

  .navbar-second {
    background-color: #fff;
    border-bottom: 1px solid #000;
  }

  .nav-right-second {
    background-color: #424249;
  }

  /* margin */
  .m-mt0 {
    margin-top: 0rem !important;
  }

  .m-mt2 {
    margin-top: 0.75rem !important;
  }

  .m-mt3 {
    margin-top: 1rem !important;
  }

  .m-mt4 {
    margin-top: 2rem !important;
  }

  .m-mt5 {
    margin-top: 3rem !important;
  }

  .m-mb1 {
    margin-bottom: 0.5rem !important;
  }

  .m-pt2 {
    padding-top: 0.75rem !important;
  }

  .m-pb2 {
    padding-bottom: 0.75rem !important;
  }

  .m-pr1 {
    padding-right: .25rem !important;
  }

  .m-pl1 {
    padding-left: .25rem !important;
  }

  /* menu */
  .menu-mobile {
    z-index: 10000;
    width: 100%;
    position: fixed;
    top: 50px;
    background-color: #f7f7f7;
    height: 100%;
  }

  .menu-mobile-top {
    background-color: #ff5531;
    width: 100%;
    height: 100px;
    padding-top: 25px;
    margin-top: -2px;
  }

  .menu-mobile-li {
    height: 58px;
    /* width: 100%; */
    background-color: #fff;
    padding: 18px 15px;
    margin: 10px;
    box-shadow: 0px 0px 5px 0px #76767696;
    
  }

  /* padding margin */
  .m-no-pd {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  /* wrap */
  .wrap-img {
    height: 140px;
  }

  .wrap-in {
    font-size: 22px;
    height: 140px;
    padding: 55px 0;
  }

  .border-topbottom {
    background-color: #f7f7f7;
    border-top: #e1e1e1 solid 1px;
    /* border-bottom: #e1e1e1 solid 1px; */
    height: 12px;
    width: 100%;
  }

  /* with height */
  .m-w100 {
    width: 100% !important;
  }

  .footer-hide {
    margin-bottom: 142px;
  }

  /* horizontal */
  .horizontal-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .horizontal-card {
    /* display: inline-block; */
    display: inline-table;
    width: 150px;
    min-height: 250px;
    margin-right: 10px;
  }

  .horizontal-card>p {
    white-space: normal !important;
  }

  .horizontal-filter {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: #fff7ef;
    margin-top: 15px;
    z-index: -100;
    padding-left: 5px;
    height: 50px;
  }

  .horizontal-filter-btn {
    display: inline-block;
    margin-top: 10px;
  }

  .horizontal-detail {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* background-color: #fff7ef; */
    display: block;
  }

  .horizontal-detail>.carousel-root>.carousel {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    /* background-color: #fff7ef; */
    display: block;
    width: 100% !important;
  }

  .horizontal-detail>.detail-bar {
    display: inline-block;
  }

  .box-detail-second {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: block;
    height: 160px;
    padding-top: 49px;
  }

  .box-detail-second>div {
    display: inline-block;
    width: 150px;
  }

  .horizontal-years {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .horizontal-wrapper::-webkit-scrollbar,
  .horizontal-filter::-webkit-scrollbar,
  .horizontal-detail::-webkit-scrollbar,
  .box-detail-second::-webkit-scrollbar,
  .horizontal-sell::-webkit-scrollbar,
  .horizontal-years::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    background: transparent;
  }

  /* bottom fix */

  .bottom-box {
    min-height: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
    /* z-index: 2000; */
    z-index: 4000;
    background-color: #fff;
    border-top: 1px #e1e1e1 solid;
  }

  /* modal */
  .modal-custom,
  .modal-custom-scroll {
    margin-top: 50px !important;
    padding-top: 0% !important;
    z-index: 3100 !important;
  }

  .modal-content-scroll,
  .modal-custom {
    /* height: calc(100% - 50px) !important; */
    height: 100%;
  }

  .modal-content-small {
    min-height: 200px
  }

  .modal-full {
    background-color: #fff;
    padding-bottom: 100%;
    display: none;
    position: fixed;
    z-index: 3100;
    left: 0;
    top: 0 !important;
    margin-top: 0 !important;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .modal-custom-scroll {
    margin-top: 0 !important;
    z-index: 2000;
  }

  ::-webkit-scrollbar,
  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-track {
    display: none;
    background: transparent;
  }

  .modal-selldetail {
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    height: 100%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
  }

  .form-price-edit,
  .form-price-edit:focus {
    padding-right: 35px;
  }

  .release-detail-bottom,
  .release-detail-middle {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }

  .release-detail-middle {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }

  .release-detail-top {
    margin-top: 20px;
  }

  .release-detail-box {
    padding-bottom: 20px;
  }
}

@media screen and (min-width: 992px) {
  .hidden-p {
    display: none !important;
  }
}

.horizontal-sell::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}

.horizontal-sell {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  min-height: 120px;
}