@media screen and (max-width: 991px) { 
  /* main */
  .scroll-box {
    margin-top: 25px !important;
    position: relative;
    width: 100%;
    height: 400px;
  }
  .container-main {
    margin-top: -450px;
  }
  .highlight-top {
    background-position: 50% 50%;
  }
  .scroll-left { margin-top: -350px; }
  .scroll-left > p { 
    font-size: 200px !important; 
    white-space: nowrap;
    margin-left: -150% !important;
    width: 150%;
    -moz-animation: scroll-left 30s linear infinite;
    -webkit-animation: scroll-left 30s linear infinite;
    animation: scroll-left 30s linear infinite;
  }
  .mainslide {
    top: 0;
    font-size: 100px;
  }
  .highlight-middle {
    height: 200px;
    width: 75%;
    float: right;
    z-index: 300;
    margin-right: -15px;
  }
  .highlight-bottom {
    height: 220px;
    width: 70%;
    float: left;
    z-index: 300;
  }
  .main-popular {
    margin-top: 300px;
  }
  .box-popular {
    height: 110px;
  }
  .box-game-mobile {
    padding-left: 15px;
    padding-right: 0;
  }
  .game-mobile-in {
    background-color: #1d1d1d;
  }
  .game-mobile-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 50%;
    height: 230px;
  }
  .box-main-release {
    margin-top: 55px;
    padding-top: 40px;
    height: 350px;
  }
  .main-release-in {
    height: 110px;
  }

  /* sneaker */ 
  .box-mobile-filter {
    height: 50px;
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    padding: 16px 0;
    margin-bottom: -15px;
    z-index: 100;
  }
  .mobile-reset {
    width: 50px;
    width: 100px;
    height: 51px;
    float: right;
    right: 0;
    text-align: center;
    position: absolute;
  }
  /* .mobile-reset-left {
    width: 20px;
    height: 50px;
    float: left;
    background-color: linear-gradient(90deg, rgba(255,247,239,0.7) 0%, rgba(255,247,239,1) 100%);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  } */
  .mobile-reset-right {
    width: 100px;
    padding-top: 13px;
    height: 50px;
    float: right;
    background: linear-gradient(90deg, rgba(255,247,239,0.75) 0%, rgba(255,247,239, 1) 50%, rgba(255,247,239,1) 100%);
    /* background-color: #fff7ef; */
  }
  .box-sneaker {
    height: 115px;
  }
  .sneaker-mobile-row {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sneaker-mobile {
    /* margin-bottom: 30px !important; */
    padding-left: .25rem!important;
    padding-right: .25rem!important;
  }
  .sneaker-name {
    word-break: break-all;
  }

  /* sneakerdetail */
  .box-detail-first-sneaker {
    padding-top: 50px;
    /* padding-top: 60px; */
  }
  .box-detail-first-in {
    height: 240px;
    /* padding-left: 1rem!important;
    padding-right: 1rem!important; */
  }

  .box-detail-first-in img {
    max-width: 100%;
    margin-top: -13%;
  }
  .detail-bar {
    width: 90px !important;
  }
  .tooltip-calc {
    width: 100% !important;
    right: initial;
    border-left: 0;
    border-right: 0;
    border-bottom: 0 !important;
    /* display: none; */
  }  
  .thirdbox-border {
    border-right: 1px solid #f7f7f7;
    margin-top: 19px;
    height: 40px;
  }
  .thirdbox-noneborder {
    border-right: 0;
  }
  .detail-thirdbox {
    text-align: center;
    background-color: #ffffff;
    height: 80px;
  }
  .box-alsolike {
    height: 500px;
    margin-top: 50px;
    padding-top: 40px;
  }
  .btn-custom-sm-active {
    width: initial;
    padding: 0 15px;
  }

  /* about */
  .box-about-left {
    min-height: 0;
  }
  .about-left-in {
    float: left;
    padding-top: 70px;
    height: 375px;
  }
  .about-left-quote {
    float: left;
    margin-top: 30px;
  }
  .about-left-in > p {
    font-size: 40px;
  }
  .about-middle-mobile {
    padding: 60px;
  }
  .box-about-middle {
    margin-top: 0px;
  }
  .about-mobile-bottom {
    height: 650px;
  }
  .about-mobile-bottom > p { 
    float: right;
    width: 80%;
  }
  .about-mobile-bottom > div > img {
    width: 80% !important;
  }

  /* auth */
  .box-login {
    padding: 0;
    border: 0;
    margin-top: 60px;
    margin-bottom: 100px;
  }
  .login-mobile {
    margin-top: 60px;
  }
  .box-signup {
    padding: 30px 0 60px 0;
    border-left: 0;
    border-right: 0;
  }
  .box-findpassword {
    padding: 30px 0 60px 0;
    border-left: 0;
    border-right: 0;
    margin-top: 30px !important;
  }
  .btn-verify-phone {
    font-size: 13px;
    padding: 0;
  }

  /* search */
  .box-info {
    height: 100px;
    padding: 34px 0;
  }

  /* buylist */
  .box-buy-left {
    height: initial;
    padding: 20px 20px 0 20px
  }
  .border-buy {
    display: inline-table;
  }
  .box-buy-border {
    margin-top: 30px;
  }
  .box-buy-hr {
    border-top: 1px solid #e1e1e1;
  }
  .btn-inline {
    width: 100%;
    height: 51px;
  }
  .btn-inline2 {
    margin: 5px 5px 0 5px !important;
    padding: 2px 5px;
  }
  .img-buy-box {
    height: 115px;
  }
  .box-buy-mobile {
    padding-left: .25rem!important;
    padding-right: .25rem!important;
    margin-bottom: 30px !important;
  }
  .btn-filter-m {
    width: 18.5% !important
  }
  .btn-inline2 {
    padding: 1px 5px;
  }
  .buy-list-m {
    margin-top: 30px !important;
  }
  /* buydetail */
  .buydetail-m {
    /* position: absolute;  */
    z-index: 3000;
    top: 0;
    background-color: #fff;
    padding: 0 15px !important;
  }
  .buydetail-image {
    width: 100%;
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; 
  }
  .buydetail-left {
    padding-left: initial;
    margin-top: 40px !important;
  }
  .mt-10-m {
    margin-top: 10px !important;
  }
  .modal-custom-large {
    z-index: 4000;
    margin-top: 0 !important;
  }
  .buy-modal-image {
    background-size: contain !important;
  }

  /* ask */
  .ask-box {
    padding: 0 3px;
  }
  .ask-box > p {
    font-size: 13px;
  }

  /* game */
  .img-game-back {
    min-height: 207px !important;
    height: 207px !important;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .game-mobilebox {
    background-color: #1d1d1d;
    text-align: left;
    padding: 25px 25px 40px 25px;
  }
  .game-mobilegray {
    background-color: #f1f1ee;
  }
  .box-noti-left {
    padding-left: 50px !important;
    padding-right: 50px !important;
  }

  /* userverify */
  .box-userverify {
    margin-top: 50px;
  }

  /* sell  */
  .line-sell {
    height: 5px;
    border-top: solid 1px #dbdbdb;
    display: inline-block;
    width: 13%;
  }
  .sell-exbox {
    margin-right: 10px;
    display: inline-block;
  }
  .sell-ex {
    width: 134px;
    height: 96px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; 
  }
  .sell-camerabox {
    padding: 20px;
  }
  .sell-camera {
    width: 72px;
    height: 72px;    
    border: solid 1px #dbdbdb;
    padding: 12px 0;
    text-align: center;
  }
  .sell-photobox {    
    display: inline-block;
  }
  .sell-photo {
    margin-top: 20px;
    margin-right: 10px;
    width: 72px;
    height: 72px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    image-orientation: from-image !important;
  }
  .sell-delete {
    float: right;
    /* margin-top: 20px; */
    /* margin-right: 10px; */
    right: 13px;
    top: -72px;
    position: relative;
  }
  .img-sellcomplete {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: solid #e1e1e1 1px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%; 
  }
  .price-right {
    color: #454545;
    font-size: 14px;
    position: absolute;
    right: 33px !important;
    margin-top: 14px;
  }
  .price-right-mypage {
    color: #454545;
    font-size: 14px;
    position: absolute;
    right: 18px !important;
    margin-top: 14px;
  }
  .react-html5-camera-photo-fullscreen>video {
    object-fit: contain !important;
  }


  /* card */
  .box-card {
    padding: 20px;
    min-height: initial;
    margin-top: 20px;
  }
  .box-card-info {
    height: 186px;
  }
  .box-card-in {
    padding-top: 60px;
    height: 186px;
  }
  .plus-mobile {
    width: 29px;
    height: 29px;
  }
  .boxcard-margin {
    margin-top: 60px;
  }

  /* realse */
  .calendar-yearbox {
    height: 60px;
    display: flex;
  }
  .calendar-left {
    width: 130px;
    height: 60px;
    display: flex;
    padding: 17px 10px;
    text-align: center;
  }
  .calendar-box {
    padding: 19px 13px;
    width: 55px;
    display: inline-block;
  }
  .img-release {
    min-height: 160px;    
    width: 100%;
    overflow: hidden;
  }

  .img-release-calender {
    min-height: 120px;
    height: 120px;
    width: 100%;
    /* padding: 0 12% 0 12%;
    background-position: center 60%;
    background-origin: content-box; */
    overflow: hidden;
  }

  .release-date {
    font-size: 18px;
  }

  /* faq */
  .box-faq-info {
    height: 100px;
    padding: 36px 0;
  }
  .box-faq-info > p {
    font-size: 20px !important;
  }
  .box-faq-left {
    margin: initial;
    padding: 11px 0 11px 12px;
    box-shadow: 
    1px 0 0 0 #e1e1e1, 
    0 1px 0 0 #e1e1e1, 
    1px 1px 0 0 #e1e1e1,
    1px 0 0 0 #e1e1e1 inset, 
    0 1px 0 0 #e1e1e1 inset;
    font-size: 13px;
  }
  .box-faq-left img {
    display: none;
  }

  /* tos */
  .box-info {
    height: 100px;
    padding: 36px 0;
  }
  .box-info > p {
    font-size: 20px !important;
  }

  /* mypage */

  .mypage-header {
    min-height: 100px;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .mypage-header-border {
    height: 120px;
  }
  .horizontal-likes {
    height: 210px !important;
    min-height: 210px !important;
  }
  .mypage-tags {
    height: 24px;
    text-align: left !important;
  }
  .modal-selldetail {
    width: 100%;
  }  
  .m-nopadding {
    padding-left: 0;
    padding-right: 0;
  }
  .m-norow {
    margin-left: -15px;
    margin-right: -15px;
  }
  .img-buy-left {
    height: 68px;
  }
  .img-sellcomplete {
    border-radius: 36px;
    height: 72px;
    width: 72px;
    border: solid 1px #e1e1e1;
  }
  .border-right-gray {
    border-right: 0;    
  }
  .m-borderbottom {
    border-bottom: solid 1px #e1e1e1;
  }
  .m-noborder {
    border-bottom: 0 !important;
  }
  .mypagebuy-step {
    width: 10%;
  }
  .m-plus {
    margin: 0 auto !important;
    margin-top: -12px !important;
  }

  .form-search {
    padding-right: 30%;
  }
}

.sell-camerabox {
  padding: 20px;
}
.sell-camera {
  width: 72px;
  height: 72px;    
  border: solid 1px #dbdbdb;
  padding: 12px 0;
  text-align: center;
}
.sell-photobox {    
  display: inline-block;
  width: 85px;
}
.sell-photo {
  margin-top: 20px;
  /* margin-right: 10px; */
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  image-orientation: from-image !important;
  object-fit: cover;
}
.img-sellcomplete {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: solid #e1e1e1 1px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; 
}
