.btn-mypage-menu,
.btn-mypage-memu:focus,
.btn-mypage-memu:hover,
.btn-mypage-memu:active {
  height: 54px;
  width: 100%;
  font-size: 14px;
  color: #1d1d1d !important;
  text-align: left;
  padding-left: 15px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  outline: 0 !important;
  font-weight: 300;
}

.mypage-menu-active {
  background-color: #f1f1ee;
  padding-right: 20px;
  font-weight: bold;
}

.mypage-header {
  min-height: 160px;
  background-color: #424249;
  margin-top: 15px;
  display: flex;
  padding-top: 30px;
}

.mypage-header-border {
  border-right: 1px solid rgba(225, 225, 225, 0.2);
  height: 100px;
}

.mypage-default-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 190px;
}

.tooltip-mypage {
  width: 325px !important;
}

.tooltip-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: #e1e1e1 solid 1px;
}

.img-post {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 72px;
}

.box-bidding {
  border-bottom: 1px solid #e1e1e1;
  padding: 18px 5px;
}

.btn-second-mypage {
  border: solid 1px #424249;
  background-color: #424249;
  border-radius: 0;
  color: #fff;
  font-size: 13px;
  outline: none !important;
}

.btn-second-mypage:focus,
.btn-second-mypage:hover {
  color: #fff;
  border: solid 1px #1d1d1d;
  background-color: #1d1d1d;
}

.btn-custom-mypage {
  color: #454545;
  font-size: 13px;
  border-radius: 0;
  border: solid 1px #dbdbdb;
  background-color: #fff;
  outline: 0;
}

.btn-custom-mypage:focus,
.btn-custom-mypage:hover {
  border: solid 1px #454545;
  outline: 0;
}

.box-trade-cancle {
  margin: 0 auto;
  padding-top: 2px;
  border-radius: 10px;
  width: 56px;
  height: 20px;
  font-size: 11px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
}

/* buydetail */

.stuff-info {
  width: 92px;
  height: 72px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin: 0 auto;
}

.mypage-plus {
  float: right;
  position: absolute;
  margin-right: -5px;
  margin-top: -25px;
}

.mypage-plus2 {
  float: right;
  position: absolute;
  margin-right: -5px;
  margin-top: -50px;
}

.border-bottom-black {
  border-bottom: 1px solid #1d1d1d;
  margin-top: 7px;
  margin-bottom: 7px;
}

.step-img {
  width: 36px;
  height: 36px;
  text-align: center;
  padding-top: 3px;
  display: inline-block;
}

.confirm-img {
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 30px;
}

.cancle-img {
  width: 72px;
  height: 72px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 36px;
}

.border-confirmbox {
  height: 86px;
  padding-top: 18px;
  box-shadow:
    1px 0 0 0 #e1e1e1,
    0 1px 0 0 #e1e1e1,
    1px 1px 0 0 #e1e1e1,
    1px 0 0 0 #e1e1e1 inset,
    0 1px 0 0 #e1e1e1 inset;
}

.img-paycomplete {
  display: block;
  position: absolute;
  margin-top: 35px;
  margin-left: -9px;
}

.confirmbox-active {
  border: 1px solid #ff5531;
}

.mypagebuy-step {
  height: 5px;
  border-top: solid 1px #dbdbdb;
  display: inline-block;
  width: 12%;
}

.h-shipping {
  min-height: 50px;
}

.price-right-mypage {
  color: #454545;
  font-size: 14px;
  position: absolute;
  right: 34px;
  margin-top: 14px;
}