.box-post {
  border-bottom: 1px solid #bbbbbb;
  padding: 10px 15px;
}

.box-post-top {
  border-top: 1px solid #454545;
}

.box-post-description {
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 30px;
}

.box-post-description > p {
  color: #454545;
  font-size: 14px;
  line-height: 25px;
  white-space: pre-line;
}
