.release-wrap {
  /* background-attachment: fixed; */
  /* background-size: contain; */
  /* background-repeat: repeat-x; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.release-wrap-in {
  background-color: rgba(29, 29, 29, 0.3);
  min-height: 180px;
  width: 100%;
  text-align: center;
  color: #fff;
  padding-top: 60px;
  font-size: 32px;
  font-weight: 700;
}

.box-calendar {
  width: 100%;
  height: 60px;
  /* margin-bottom: 61px; */
  background-color: #fff;
  /* box-shadow: 0 1px 0 0 #e1e1e1; */
  padding-top: 17px;
}

.box-calendar-today {
  width: 100%;
  height: 60px;
  margin-bottom: 61px;
  background-color: #fff;
  /* box-shadow: 0 1px 0 0 #e1e1e1; */
  padding-top: 17px;
}

.box-calendar-years {
  width: 10%;
  text-align: left;
  display: inline-block;
  color: #1d1d1d;
  font-size: 18px;
  font-weight: 700;
}

.calendar-month {
  width: 7.5%;
  text-align: right;
  display: inline-block;
  color: #bbbbbb;
  font-weight: 300;
  font-size: 14px;
  cursor: pointer;
}

.calendar-month-active {
  width: 7.5%;
  text-align: right;
  display: inline-block;
  color: #ff5531;
  text-decoration: underline;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.calendar-month-future {
  width: 7.5%;
  text-align: right;
  display: inline-block;
  color: #454545;
  font-size: 14px;
  cursor: pointer;
}

.box-filter {
  border-radius: 15px;
  border: 0;
  background-color: #ff8e20;
  font-size: 14px;
  color: #fff;
  padding: 3px 15px;
  margin-right: 5px;
  margin-bottom: 3px;
  display: inline-block;
}

.p-filter {
  padding: 7px 0 7px 20px;
  font-size: 14px;
  color: #1d1d1d;
}

.p-filter-active {
  color: #ff5531;
}

.box-release {
  text-align: left !important;
}

.img-release-back {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* min-height: 250px; */
  height: 150px;
}

.img-release {
  min-height: 200px;
  height: 200px;
  width: 100%;
  /* background-color: gray; */
  /* border: 0 !important;
  background-repeat: no-repeat;
  background-position: center 63%;
  background-size: cover; */
  overflow: hidden;
}

.img-release img {
  max-width: 100%;
  margin-top: -25%;
}

.img-release-calender {
  min-height: 200px;
  height: 200px;
  width: 100%;
  /* background-color: gray;
  border: 0 !important;
  background-repeat: no-repeat;
  background-position: center 63%;
  background-size: cover; */
  overflow: hidden;
}

.img-release-calender img {
  max-width: 100%;
  margin-top: -35%;
}

.release-date {
  font-size: 24px;
  font-weight: 700;
  color: #454545;
  /* padding: 3px 10px; */
}



.date-disable {
  color: #bbbbbb;
  /* text-decoration: line-through; */
}

.mark-active {
  background-color: #ff5531;
}

.mark-active>.relase-triangle,
.mark-active>.relase-triangle-2 {
  border-top: 10px solid #ff5531;
}

.anti-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.anti-padding-right {
  padding-right: 0 !important;
}

.anti-padding-left {
  padding-left: 0 !important;
}

.btn-release {
  background-color: #ff5531;
  color: #fff;
  font-size: 10px;
  border: 0;
  border-radius: 0;
  padding: 4px 10px;
  /* margin-top: 20px; */
}

.btn-done {
  background-color: #424249;
  color: #fff;
  font-size: 10px;
  border: 0;
  border-radius: 0;
  padding: 4px 10px;
  /* margin-top: 20px; */
}

.btn-pre {
  background-color: white;
  color: #ff5531;
  font-size: 10px;
  border: solid 2px #ff5531;
  border-radius: 0;
  padding: 2px 8px;
}

.release-detail-box {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f7f7f7;
}

.release-detail-top {
  margin-top: 140px;
}

.border-top2 {
  border-top: solid 1px #f3f3f3;
}

.border-top3 {
  border-top: solid 1px #f3f3f3;
}

.release-detail-body p {
  font-size: 15px;
}

.box-store {
  height: 150px;
  width: 100%;
  background-color: #fff;
  border: solid 1px #efefef;
  border-radius: 7px;
  margin-bottom: 15px;
}

.box-store-end {
  /* opacity: 1.7; */
  height: 150px;
  width: 100%;
  background-color: #fff;
  /* background-color: #ffffff52; */
  border: solid 1px #efefef;
  border-radius: 7px;
  margin-bottom: 15px;
}

.box-store>.row {
  padding: 12px 14px;
}

.box-store-end>.row {
  padding: 12px 14px;
}

.img-store {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  height: 50px;
  width: 50px;
  display: block;
  background-color: #1d1d1d;
  margin-top: 8px;
  border-radius: 25px;
}

.box-store-link {
  height: 70px;
  width: 70px;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
}

.box-store-link-dark {
  height: 70px;
  width: 70px;
  border: 1px solid #DDDDDD;
  background-color: #F7F7F7;
  border-radius: 10px;
  text-align: center;
  padding: 25px 0;
  cursor: pointer;
}


.today-store-link {
  height: 45px;
  width: 60px;
  border: 1px solid #353535;
  border-radius: 5px;
  text-align: center;
  padding: 10px 0;
  /* cursor: pointer; */
  margin-left: auto !important;
  font-size: 11px;
  box-shadow: 0px 0px 5px 0px #76767696;
}

.color-disable {
  color: #76767696 !important;
}

.color-raffle-on {
  color: #ff3300 !important;
}

.today-realtiem-margin {
  margin-bottom: 60px;
}

.today-count {
  margin-top: 5px;  
}

.storeBottomLine {
  border-bottom: solid 1px #353535;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.release-state {
  display: flex !important;
  align-items: baseline;
  margin-bottom: 10px;
}

.release-store {
  display: flex !important;
  align-items: center;
  margin-bottom: 10px;
}

.reamin-time-tictok {
  margin-left: auto !important;
  font-size: 12px;
  font-weight: bold;
  color: #ff5531;
  padding: 4px 10px;
}

.neon {
  animation: neon 3s ease infinite;
  -moz-animation: neon 3s ease infinite;
  -webkit-animation: neon 3s ease infinite;
  letter-spacing: 2px;
  position: absolute;
}

@keyframes neon {
  0%,
  100% {
    /* text-shadow: 0 0 1vw #ff5531 ; */
    color: #ff5531;
  }
  50% {
    /* text-shadow: 0 0 .5vw #ffffff; */
    color: #ffffff;
  }
}

.raffle-end {
  opacity: 0.4;  
}

.sneaker-web {
  padding: 0 20px;
}

.calendar-tab {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3em;
}

.calendar-tab-soon {
  padding-right:20px;
  margin-right: 20px;
  border-right: solid 1.5px #E0E0EA;
}

.selected-tab {
  color: #FD5419;
}

.not-selected-tab {
  color: #A8A8A8;
}

.price-box {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  height: 96px;
  padding: 16px 0 16px 0;
  background-color: #ffffff;
  margin-top: 16px;
}

.price-box img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.price-box p {
  font-size: 12px;
}

.market-link {
  width: 70px;
  height: 36px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
  text-align: center;
  padding: 5px 0;
  cursor: pointer;
}