.nav-zindex {
  z-index: 1100;
}

.modal-search {
  margin-top: 80px;
  background-color: rgba(29, 29, 29, 0.5);
  padding-bottom: 100%;
}

.modal-search-content {
  height: 280px;
  width: 100%;
  background-color: #ff5531;
  padding-top: 100px;
  position: relative;
}

.box-search-bottom {
  height: 32px;
  width: 100%;
  background-color: #000;
  position: absolute;
  bottom: 0;
}

.search-count {
  vertical-align: top;
  font-family: 'Roboto', sans-serif !important;
  font-size: 14px;
  color: #ff5531;
  margin-left: 5px;
}

.search-scroll {
  color: #fff;
  font-family: 'Roboto', sans-serif !important;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 4px;
  width: 100%;
  white-space: nowrap;
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);	
  transform:translateX(100%);
  -moz-animation: scroll-left 20s linear infinite;
  -webkit-animation: scroll-left 20s linear infinite;
  animation: scroll-left 20s linear infinite;
}
.search-scroll > span {
  margin-right: 200px;
}
.searchslide {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  color: #fff;
  font-family: 'Roboto', sans-serif !important;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 4px;
  padding-top: 3px;
}
.searchslide span {
  display: inline-block;
  padding-left: 100%;
  animation: searchslide 20s linear infinite;
}

@keyframes searchslide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.searchslide {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  color: #fff;
  font-family: 'Roboto', sans-serif !important;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 4px;
  padding-top: 3px;
}
.searchslide span {
  display: inline-block;
  padding-left: 100%;
  animation: searchslide 20s linear infinite;
}

@keyframes searchslide {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.form-search {
  border: 0px !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
  border-radius: 0 !important;
  background-color: rgba(0, 0, 0, 0);
  color: #fff !important;
  font-size: 22px;
  padding: 0;
  padding-bottom: 10px;
  padding-right: 25%;
}
.form-search:focus {
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  border-bottom: 1px solid #fff !important;
  outline: 0;
}
.form-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #f7f7f7;
  opacity: .5;
  font-size: 22px !important;
  font-weight: 200;
}
.form-search::-moz-placeholder { /* Firefox 19+ */
  color: #f7f7f7;
  opacity: .5;
  font-size: 24px !important;
  font-weight: 200;
}
.form-search:-ms-input-placeholder { /* IE 10+ */
  color: #f7f7f7;
  opacity: .5;
  font-size: 24px !important;
  font-weight: 200;
}
.form-search:-moz-placeholder { /* Firefox 18- */
  color: #f7f7f7;
  opacity: .5;
  font-size: 24px !important;
  font-weight: 200;
}

.placeholder-right-search {
  margin-top: -45px;
}
.placeholder-right-search-close {
  margin-top: -40px;
  margin-right: 45px;
}

.search-price {
  margin-top: 3px;
}