.box-detail-first-sneaker {
  width: 100%;
  padding-top: 80px;
  /* padding-bottom: 80px; */
  background-color: #f7f7f7;
  min-height: 825px;
}

.box-detail-first-in {
  /* height: 522px; */
  height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.box-detail-first-in img {
  max-width: 100%;
  margin-top: -18%;
}

.detail-wrap-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.box-detail-second {
  height: 240px;
  padding-top: 81px;
  opacity: 0.8;
  background-color: #1d1d1d;
}

.detail-border {
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.detail-bar {
  height: 64px;
  /* width: calc(100% / 6); */
  width: calc(100% / 5);
  border-top: 2px solid #e1e1e1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.detail-bar-active {
  /* height: 64px; */
  border-top: 2px solid #ff5531;
}

.detail-left-inline {
  width: 60px;
  height: 25px;
  display: inline-block;
}
.detail-right-inline {
  width: 100px;
  height: 25px;
  display: inline-block;
}

.w-64 {
  width: 64px;
}

.detail-border-top {
  border-top: 1px solid #454545;
  margin-top: 7px;
  margin-bottom: 7px;
}
.detail-border-bottom {
  border-bottom: 1px solid #e1e1e1;
  margin-top: 7px;
  margin-bottom: 7px;
}

.chart-height {
  height: 372px;
}

.box-alsolike {
  height: 582px;
  margin-top: 100px;
  padding-top: 80px;
  background-color: #f7f7f7;
}

.detail-plus {
  height: 12px;
  margin-top: -3px;
}

.tooltip-detail-default {
  width: 350px;
  height: 141px;
  position: fixed;
  bottom: 0;
  z-index: 100;
  padding: 20px;
  background-color: #fff;
  border: solid 1px #454545;
}
.tooltip-calc {
  right: calc((100% - 1110px)/2);
}

.tooltip-detail {
  width: 350px;
  height: 141px;
  padding: 20px;
  margin-top: 63px;
  margin-left: -50px;
  background-color: #fff;
  border: solid 1px #454545;
}

.detail-all {
  width: 100px;
  height: 54px;
  font-size: 14px;
  padding-top: 18px;
  text-align: center;
  color: #767676;
  border-bottom: 1px solid rgba(118, 118, 118, 0.45);
  display: inline-block;
}

.detail-all-active {
  color: #ff5531;
  font-weight: 700;
  border-bottom: 3px solid #ff5531;
}
.navbar-sneaker-detail {
  width: 50% !important;
  background: #000;
  padding: 11px 0;
  height: 48px;
  position: fixed;
  z-index: 5000 !important;
  top: 0;
  right: 0;
  left: 0;
}