.wrap-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.wrap-in {
  height: 180px;
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  padding: 65px 0;
  background-color: rgba(29, 29, 29, 0.3);
}

.box-sneaker {
  height: 182px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.sneaker-name {
  min-height: 48px !important;
  line-height: 21px;
}
.sneaker-price {
  margin-top: 3px;
}

.dropdown-filter {
  width: 140px;
  position: absolute;
  right: 13px;
  margin-top: 10px;
  /* text-align: right; */
  background-color: #fff;
  z-index: 1000;
  border: 2px solid #000;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}