.montserrat {
  font-family: 'Montserrat' !important;
}

.testmain {
  margin-top: -80px;
  background-color: #FD7133;
  height: 100vh;
}

.testlogo {
  width: 250px;
  height: auto;
}
.testperson {
  width: 22px;
  height: auto;
}

.testfooter {
  background-color: #232323; 
  padding-top: 42px;
  height: 107px;
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  margin-bottom: -107px;
}

.testheight {
  margin-top: 25vh;
}

.test-p {
  letter-spacing: .03em;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Montserrat' !important;
  font-size: 19px;
  font-weight: bold;
  line-height: 2;
}

.testimg-n {
  width: 40px;
  height: auto;
}

.search-test {
  width: 22px;
  height: auto;
  margin-left: -25px;
  margin-bottom: 15px;
}

.fix-label {
  font-size: 30px !important;
}
.form-test {
  width: 490px;
  background-color: initial;
  border-bottom: 3px solid #fff !important;
  font-size: 32px !important;
  font-weight: bold !important;
  color: #fff !important;
  padding-bottom: 15px;
}
.form-test:not([value=""]):not(:focus) {
  border: 0;
}
.form-test:focus {
  color: #454545;
  font-size: 14px;
  background-color: initial !important;
  border: solid 0px #454545 !important;
  border-bottom: 3px solid #fff !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0 #fff !important;  
}
.form-test::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  font-size: 28px !important;
  font-weight: normal !important;
  text-align: center;
  opacity: .5;
}
.form-test::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  font-size: 28px !important;
  font-weight: normal !important;
  text-align: center;
  opacity: .5;
}
.form-test:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  font-size: 28px !important;
  font-weight: normal !important;
  text-align: center;
  opacity: .5;
}
.form-test:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  font-size: 28px !important;
  font-weight: normal !important;
  text-align: center;
  opacity: .5;
}

@media screen and (max-width: 991px) { 
.testlogo {
  width: 180px;
}
.fix-label {
  font-size: 16px !important;
  margin-bottom: 3px !important;
}
.search-test {
  width: 17px !important;
  margin-bottom: 0;
}
.form-test {
  height: 40px !important;
  font-size: 20px !important;
  padding-bottom: 0;
}
.test-p {
  font-size: 13px;
}

}



/* @charset "utf-8"; */

/* @import url(util.css); */

/* Font */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800);

/* Slider */
.swiper-slide{overflow:hidden}
.swiper-container-horizontal>.swiper-pagination-bullets{bottom:40px}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{margin:0 5px}
.swiper-pagination-bullet{width:8px;height:8px;background:#fff;opacity:.5}
.swiper-pagination-bullet.swiper-pagination-bullet-active{width:28px;border-radius:3px;background:#ef4f2e}
.swiper-button-next, .swiper-button-prev{transform:scale(.5)}
.ani-delay02{-webkit-animation-delay:.2s;animation-delay:.2s}
.ani-delay03{-webkit-animation-delay:.3s;animation-delay:.3s}
.ani-delay04{-webkit-animation-delay:.4s;animation-delay:.4s}
.ani-delay05{-webkit-animation-delay:.5s;animation-delay:.5s}
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}


/*-------------------
    PAGES
--------------------*/


/* Search */
.hdSrch-open{overflow:hidden}
#hdSrch{display:none;position:fixed;top:0;left:50%;width:100%;max-width:1920px;z-index:100;transform:translateX(-50%) scaleY(0);transform-origin:top left;transition:transform .3s}
.hd-srch{position:absolute;top:0;right:3.1%;width:880px;padding:5px 68px 60px;background:#FD7133}
.hdSrch-open #hdSrch{transform:translateX(-50%) scaleY(1)}
.dim{position:fixed;top:0;left:0;right:0;bottom:0;z-index:90;background:#000;opacity:.54}
.nav-open .dim{opacity:.54}
.frm-srch-wrp{font-size:20px;font-weight:600;color:#fff}
.betamsg-txt{opacity:.8;letter-spacing:.03em;color:#000000}
.betamsg-txt > li+li{margin-top:15px;}
.rcmd-txt{opacity:.5;letter-spacing:.03em}
.rcmd-txt > li+li{margin-top:15px;}
.frm-srch{position:relative;font-size:1.75em}
.frm-srch .icon-srch{position:absolute;top:0;bottom:0;right:0;width:22px}
.frm-srch input{width:100%;height:1.8em;padding-right:1.5em;border:0;background:none;border-bottom:3px solid #fff;outline:0}
.frm-srch input:-ms-input-placeholder{color:rgba(255,255,255,.34) !important}
.frm-srch input::-moz-placeholder{opacity:.34;color:inherit}
.frm-srch input::-webkit-input-placeholder{opacity:.34;color:inherit}
.srch-help-txt{margin:1.538em 0;font-size:1.3em;line-height:1.92}
.fix-label{position:absolute;bottom:.3em;left:0;right:0;text-align:center;font-size:.857em;color:rgba(255,255,255,.5);font-weight:400}
.on .fix-label{display:none}
@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
  -webkit-animation-duration: 2s;
  animation-duration: 2s
}
.animated.infinite {
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}
